{% extends "./plantilla.html" %}
{% block content %}
<br>
<h1 class="fa fa-users mb-0"> Equipos</h1>

<div class="container mt-4">
    <div class="card shadow-lg rounded-4 border-0">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <a href="/equipos/nuevoEquipo" class="btn btn-success">
                    <i class="bi bi-plus-circle-fill"></i> Crear Equipo
                </a>
            </div>

            <div class="table-responsive rounded">
                <table class="table table-bordered table-striped table-hover" id="tbldis">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Logo</th>
                            <th>Fundación</th>
                            <th>Presidente</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipo in equipos %}
                        <tr>
                            <td>{{ equipo.id }}</td>
                            <td>{{ equipo.nombre }}</td>
                            <td>
                                {% if equipo.logo %}
                                     <img src="{{ equipo.logo.url }}" height="80px" alt="">
                                {% else %}
                                     Sin logo
                                {% endif %}
                            </td>
                            <td>{{ equipo.fundacion }}</td>
                            <td>{{ equipo.presidente }}</td>
                            <td class="text-center">
                                <a href="editarEquipo/{{ equipo.id }}" class="btn btn-outline-warning">
                                    <i class="fa fa-pen"></i> Editar
                                </a>
                                <a href="eliminarEquipo/{{ equipo.id }}/" class="btn btn-outline-danger" onclick="return confirm('¿Estás seguro de eliminar este equipo?');">
                                    <i class="fa fa-trash"></i> Eliminar
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <a href="{% url 'admin_dashboard' %}" class="btn btn-danger">Volver</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tbldis').DataTable({
            buttons: ['copy', 'excel', 'pdf', 'print', 'colvis'],
            dom: 'Bfrtip',
            language: {
                url: 'https://cdn.datatables.net/plug-ins/2.3.1/i18n/es-ES.json'
            }
        });
    });
</script>
{% endblock %}
