{% extends 'plantilla.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Bienvenido, administrador {{ usuario.username }}</h2>
    <p>Este es tu panel de administración.</p>

    {% if rol == 'admin' %}
        <a href="/estadios/" class="btn btn-primary">Ver Estadios</a>
        <br><br>
        <div>
        <a href="/estadios/nuevoEstadio" class="btn btn-success">Crear Estadio</a>
        </div>
        <br>
        <a href="/arbitros/" class="btn btn-primary">Ver Árbitros</a>
        <br><br>
        <div>
            <a href="/arbitros/nuevoArbitro" class="btn btn-success">Crear Árbitro</a>
        </div>
    {% endif %}

    <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar sesión</a>
</div>
{% endblock %}
