{% extends 'plantilla.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-0 rounded" style="width: 25rem; overflow: hidden;">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0 py-2">Iniciar Sesión</h4>
        </div>

        {% if error %}
            <div class="alert alert-danger mt-3 text-center mx-3">{{ error }}</div>
        {% endif %}

        <form method="POST" class="p-4 pt-3">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" name="username" class="form-control text-black bg-white border-dark" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control text-black bg-white border-dark" required>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary fw-bold" style="opacity: 1; transition: none;">Entrar</button>
            </div>
        </form>

        <div class="mb-3 text-center">
            <a href="{% url 'registro' %}">¿No tienes cuenta? Regístrate</a>
        </div>
    </div>
</div>
{% endblock %}
